<div class="container">
  <div class="row">
    <div>
      <div>
        <h3>Products</h3>
        <ul *ngFor="let product of products">
          <div class="container">
            <div class="row">
              <div class="col-1">
                <li>
                  {{product.name}}
                  <span attr.data={{product.id}} (click)="deleteProduct($event)" class="glyphicon glyphicon-trash"></span>
                </li>
              </div>
            </div>
          </div>
        </ul>
        <h2>New Product</h2>
      </div>
      <form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit(productForm)">
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <hr>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" formControlName="description" rows="10" cols="30">Some nice attributes...</textarea>
        </div>
        <hr>

        <div class="form-group">
          <label>Price (€)</label>
          <input type="number" class="form-control" formControlName="price">
        </div>
        <hr>

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!productForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <!--div class="margin-20">
          <pre>form value: <br>{{productForm.value | json}}</pre>
        </div-->
      </form>
    </div>
  </div>
</div>