<div class="container">
    <div class="row">
      <div class="col-3">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <div class="inner-cutout">
          <h1 class="knockout">Products</h1>
        </div>
  
        <br>
        <br>
        <ul *ngFor="let product of products">
          <div class="container">
            <div class="row">
              <div class="col-1">
                <li>
                  {{product.name}}
                  <span attr.data={{product.id}} (click)="deleteProduct($event)" class="glyphicon glyphicon-trash"></span>
                </li>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-9">
      </div>
    </div>
  </div>