<div class="container">
  <div class="row">
    <div class="col-3">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <div class="inner-cutout">
        <h1 class="knockout">Users</h1>
      </div>
      <input [(ngModel)] = "searchTerm" (ngModelChange) = "search()"/>
      <br>
      <br>
      <ul *ngFor="let user of users">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <li>
                {{user.name}}
                <span attr.data={{user.id}} (click)="deleteUser($event)" class="glyphicon glyphicon-trash"></span>
              </li>
            </div>
          </div>
        </div>
      </ul>
    </div>
    <div class="col-9">
    </div>
  </div>
</div>