<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
    <h1>
      Welcome to the Computer Hardware Store!
    </h1>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/products">Products</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/users">Users</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/buy-something">Buy something</a>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>