<div class="container">
  <div class="row">
    <div class="col-3">
      <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
      <div class="inner-cutout">
        <h1 class="knockout">Products</h1>
      </div>
      <br>
      <br>
      <h4>Your cart:</h4>
      <ul *ngFor="let c of cart">
          <div class="container">
            <div class="row">
              <div class="col-1">
                <li>
                  {{c.name}}
                </li>
              </div>
            </div>
          </div>
        </ul>
      <div class="container">
        <div class="row">
          <div *ngFor="let product of products">
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading text-center">{{product.name}}</div>
                <div class="panel-body text-center">{{product.price}} €</div>
                <div class="panel-footer text-center">{{product.description}}</div>
              </div>
              <button type="button" class="btn btn-info center-block" attr.data={{product.id}} (click)="addToCart($event)">
                  <span class="glyphicon glyphicon-shopping-cart text-center"></span> Add to cart
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9">
    </div>
  </div>
</div>